@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,800&subset=vietnamese');

body, html, #root {
  width: 100%;
  height: 100%;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans', sans-serif;
}

#root {
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);  
}